<h2>Create a new band</h2>

<form action="<% bands_url %>" method="POST">
    <%= auth_token %>
    <input type="hidden" name="_method" value="PATCH">

    <label>Name
        <input type="text" name="band[name]" value="<%=@band.name%>">
    </label>

    <br>

    <input type="submit" value="Submit">
</form>